body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://img.freepik.com/free-photo/view-frame-with-copy-space_23-2148290929.jpg?t=st=1727184783~exp=1727188383~hmac=aa3b8872a5cc6850259ec489b543f09c51d8952ee414f781d62cf02f5a016385&w=1060') no-repeat center center fixed;
    background-size: cover;
}

.confirmation-message {
    margin: 165px auto;
    padding: 20px;
    max-width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation-message h1 {
    font-family: "Dancing Script", cursive;
}

.confirmation-message p {
    margin: 20px 0;
}
.d-flex a {
    margin: 0 5px; /* Adjust the margin as needed */
}
